{%load staticfiles%}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Restaurante Sabroso</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="{%static 'css/templatemo-style.css'%}" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{%static 'img/simple-house-01.jpg'%}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{%static 'img/simple-house-logo.png'%}" alt="Logo" class="tm-site-logo" />
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">"Ingresa nombre del restaurante"</h1>
								<h6 class="tm-site-description">Tú restaurante Favorito</h6>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="{%url 'webrestaurante:init'%}" class="tm-nav-link active">Inicio</a></li>
								<li class="tm-nav-li"><a href="{%url 'webrestaurante:about'%}" class="tm-nav-link">Acerca de</a></li>
								<li class="tm-nav-li"><a href="{%url 'webrestaurante:contact'%}" class="tm-nav-link">Contactos</a></li>

							<!--	<li class="tm-nav-li"><a href="{%url 'webrestaurante:ejemploform'%}" class="tm-nav-link">Form</a></li> -->
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Bienvenido a "Ingresa nombre del restaurante"</h2>
				<p class="col-12 text-center">Aquí podras encontrar los esquisitos platillos que "Ingresa nombre del restaurante" fabrica, agradecemos tu visita</p>
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">Comidas</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Bebidas</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Postres</a></li>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-comidas" class="tm-gallery-page">
					{%if allcomida%}
					{%for arrayproduct in allcomida%}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>

							<img src="{{arrayproduct.img}}" height="200px" class="tm-gallery-img"/>
							<figcaption>
								<h4 class="tm-gallery-title">{{arrayproduct.nombre}}</h4>
								<p class="tm-gallery-description">{{arrayproduct.tamaño}}</p>
								<p class="tm-gallery-price">{{arrayproduct.precio}}</p>
							</figcaption>
						</figure>
					</article>
					{%endfor%}
					{%else%}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="https://i.postimg.cc/655YfRh7/nofoto-Gxik-WQE.png" alt="Image" height="200px" class="tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Producto Acabado</h4>
								<p class="tm-gallery-description">Sentimos la demora, pronto tendremos más</p>
								<p class="tm-gallery-price">Q. --</p>
							</figcaption>
						</figure>
					</article>
				{%endif%}
				</div>
				<!-- gallery page 1 -->

				<!-- gallery page 2 -->
				<div id="tm-gallery-page-bebidas" class="tm-gallery-page hidden">
					{%if allbebida%}
					{%for arraybebida in allbebida%}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{arraybebida.img}}" alt="Image" height="200px" class="tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{arraybebida.nombre}}</h4>
								<p class="tm-gallery-description">{{arraybebida.tamaño}}</p>
								<p class="tm-gallery-price">{{arraybebida.precio}}</p>
							</figcaption>
						</figure>
					</article>
					{%endfor%}
					{%else%}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="https://i.postimg.cc/655YfRh7/nofoto-Gxik-WQE.png" alt="Image" height="200px" class="tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Producto Acabado</h4>
								<p class="tm-gallery-description">Sentimos la demora, pronto tendremos más</p>
								<p class="tm-gallery-price">Q. --</p>
							</figcaption>
						</figure>
					</article>
					{%endif%}
				</div> <!-- gallery page 2 -->
				
				<!-- gallery page 3 -->
				<div id="tm-gallery-page-postres" class="tm-gallery-page hidden">
					{%if allpostre%}
					{%for arraypostre in allpostre%}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{arraypostre.img}}" alt="Image" height="200px" class="tm-gallery-img" />
							<figcaption>
								adf
								<h4 class="tm-gallery-title">{{arraypostre.nombre}}</h4>
								<p class="tm-gallery-description">{{arraypostre.tamaño}}</p>
								<p class="tm-gallery-price"{{arraypostre.precio}}</p>
							</figcaption>
						</figure>
					</article>
					{%endfor%}
					{%else%}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="https://i.postimg.cc/655YfRh7/nofoto-Gxik-WQE.png" alt="Image" height="200px" class="tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Producto Acabado</h4>
								<p class="tm-gallery-description">Sentimos la demora, pronto tendremos más</p>
								<p class="tm-gallery-price">Q. --</p>
							</figcaption>
						</figure>
					</article>
					{%endif%}
				</div> <!-- gallery page 3 -->
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="{%static 'img/img-01.jpg'%}" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box"> 
							<h4 class="tm-gallery-title">Nutrete bien</h4>
							<p class="tm-mb-45">Come sano y disfruta<a rel="nofollow"</p>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
            | Diseñado por: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
			<p class="col-12 text-center">Gracias a <a rel="nofollow" href="https://www.ltcclock.com/downloads/simple-contact-form/" target="_blank">"Simple Contact Form"</a> por la plantilla de contacto</p>
	</div>
	<script src="{%static 'js/jquery.min.js'%}"></script>
	<script src="{%static 'js/parallax.min.js'%}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>